.reveal-viewport  {
    background-color: #992d3c;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal p,
.reveal li,
.reveal small,
.reveal tr{
    color: rgb(221, 198, 243);
    text-transform: none;
}

.reveal h2.edcodigo,
.reveal p b,
.reveal li b,
.reveal thead tr {
    color: 	#f3e733;
}

.reveal h1,
.reveal h2,
.reveal h3{
    font-size: 50px;
}

.reveal p b,
.reveal li b{
    font-size: 46px;
}

.muchotexto p,
.muchotexto li,
.muchotexto code,
.muchomuchotexto p b,
.muchomuchotexto li b {
    font-size: 36px;
}

.muchomuchotexto p,
.muchomuchotexto li,
.reveal tr {
    font-size: 30px;
}

.muchotexto td,
.muchotexto th {
    font-size: 22px;
    color: #fff;
}
.muchotexto th {
    color: 	#f3e733;
}

.scrollable-slide {
    height: 800px;
    overflow-y: auto !important;
}

.hljs-ln-code, .hljs-ln-numbers {
    font-size: 22px;
}

.reveal img {
    margin-top: 5px;
}

.reveal p.left,
.reveal ul.left {
    text-align: left;
}
	
p.center {
    text-align: center;
    color: red;
}
 
p.large {
    font-size: 250%;
}